* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url("pnt2.gif");
  background-size: medium;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 3px;
}

.btn-wrapper {
  text-align: center;
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.story {
  background-color: #239b76;
  margin-right:10px;
}

.char {
  background-color: #3b5998;
  margin-right: 10px;
}

.awards {
  background-color: #55acee;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 124px;
  margin-top: 20px;
  float: left;
}

.header-left {
  float: left;
  line-height: 65px;
  margin-left: 5px;
}

.header-left a{
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right {
  float: right;
  margin-right: -5px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}
.header-right logo{
  width: 124px;
  margin-top: 20px;
  float: right;
}
.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.header-left a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.menu-icon {
  color: rgb(190, 13, 13);
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}


.header-right .more {
  line-height: 65px;
  padding: 0 15px;
  color: white;
  cursor: pointer;
  display: block;
  float:left;
}



.lesson-wrapper {
  height: 500px;
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}

.heading {
  padding-top: 60px;
  padding-bottom: 30px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.lesson {
  float: left;
  width: 25%;
}

.mid-icon {
  position: relative;
  width: 70%;
  margin: 0 auto;
}
.mid-icon img{
  border-start-start-radius: 1.5cm;
  border-bottom-left-radius: 1.5cm;
  border-top-right-radius: 1.5cm;
  border-bottom-right-radius: 1.5cm;
}
.mid-icon p {
  position: absolute;
  top: 75px;
  width: 100%;
  color: white;
}

.text-contents {
  width: 80%;
  display: none;
  margin: 3% auto;
  font-size: 15px;
  color: #ad11eb;
}

.text-active {
  display: block;
}



.faq-wrapper {
  background-color: #e6ecf0;
  text-align: center;
  padding-bottom: 80px;
  color: #5f5d60;
}

#faq-list {
  width: 500px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.faq-list-item {
  margin:10px;
  border-bottom:1px solid #ccc;
  position:relative;
  cursor:pointer;
  text-align: left;
}

.faq-list-item h3 {
  font-size: 14px;
}

.faq-list-item span {
  position:absolute;
  top:0;
  right:5px;
  color:#ccc;
  font-size:13px;
}

.answer {
  font-size: 12px;
  display: none;
  padding: 5px 0px;
  margin-bottom: 15px;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.message-wrapper .heading h3 {
  font-weight: normal;
}
.message-wrapper p{
  font-family: monospace;
  font-color:blue;
  font-size:large;
}
.message {
  padding: 15px 40px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0px 7px #1a7940;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}


.flex-container {
  display: flex;
  height: 150px;
  background-color: cornflowerblue;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  flex-direction:row;
  align-items: center;
}
.flex-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}

.side {
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}
.side h2{
  font-size: 25px;
}
.side img{
  border-bottom-right-radius: 3cm;
  border-start-start-radius: 3cm;
  border-color:darkgreen;
  border-width:.5cm;
}
.side p{
  align:left;

}

footer img {
  width: 125px;
  margin-left:5px;
  box-align:left;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
  align:right;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
}
